.ui-tabs {

  &[role="tablist"] {
    display: flex;
    list-style: none;

    margin: 0;
    padding: 0;
  }

  [role="tab"] {
    background: none;
    border: 0;
    cursor: pointer;
  }

  [role="tab"][aria-selected="true"] {
    border-bottom: 1px solid;
  }
}
