[role="tablist"] {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

[role="tablist"]{
  [role="tab"] {
    background: none;
    border: 0;
    white-space: nowrap;
  }

  [role="tab"]:not([disabled]) {
    cursor: pointer;
  }

  [aria-selected] {
    border-bottom: 1px solid;
  }
}
